body {
  max-width: 900px;
  margin: auto;
}

header {
  height: 120px;
  margin-bottom: 60px;
}

header section:first-of-type {
  float: left;
  margin: 30px 0;
}

header section:first-of-type img {
  float: left;
  margin-right: 5px;
}

header section:last-of-type {
  float: right;
  line-height: 120px;
}

header li {
  display: inline-block;
  margin: -1px;
}

header li:nth-child(5) {
  margin: -2px;
}

header li:nth-child(7) {
  margin-left: 5px;
}


header hr {
  clear: both;
}

main {margin-bottom: 80px;}

main section:first-of-type {
  float: left;
  margin-bottom: 30px;
}

main section:nth-child(2) {
  float: right;
  margin-top: 5px;
}

main section:nth-child(2) p {
  float: right;
}

main > img {
  margin-bottom: 25px;
}

main article {
  margin-bottom: 25px;
}

main article p {
  margin-bottom: 25px;
  text-indent: 20px;
}

#notepad { 
  position: relative;
  margin-bottom: 30px;
  clear: both;
}

#notepad ul {
  position: absolute;
  float: left;
  top: 20%;
  left: 15%;
  transform: translate(-20%, -20%);
}

#notepad ul:last-of-type {
  position: absolute;
  top: 20%;
  left: 55%;
  float: right;
}

main section:last-of-type {
  margin-bottom: 40 px;
  height: 120 px;
}

main section:last-of-type img{
  float: left;
  margin-right: 20px;
}

main section:last-of-type button {
  float: right;
  clear: right;
}

footer {
  clear: both;
}
footer div {
  width: 47.5%;
  margin-top: 7px;
}

footer div:first-of-type {
  float: left;
}

footer div:last-of-type {
  float: right;
}
footer img {
 margin: 0 6px;
}